.InlineEdit-fieldContainer {
  padding: 0 20px 0 0;
  position: relative;
}

.InlineEdit-displayText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InlineEdit-displayText,
.InlineEdit-inputField {
  height: 20px;
  vertical-align: baseline;
}

.InlineEdit-inputField {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  bottom: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

.InlineEdit-fieldContainer {
  background: transparent center right no-repeat;
  background-size: auto 80%;
}

.InlineEdit-fieldContainer-loading {
  background-image: url('/images/loader.svg');
}

.InlineEdit-fieldContainer-success {
  background-image: url('/images/success.svg');
}

.InlineEdit-fieldContainer-error {
  background-image: url('/images/error.svg');
}

.InlineEdit-errorMessage {
  color: #f00;
  font-size: 80%;
}
